/* styles.css */
#grid {
    display: grid;
    grid-template-columns: repeat(5, 80px); /* Adjust for grid size */
    grid-gap: 10px;
  }
  .cell {
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
  }
  .robot {
    background-image: url('robot.png');
    background-size: cover;
    background-position: center;
  }
  .target {
    background-color: rgb(196, 16, 172);
  }
 .blocked {
    background-color: black;
  }
  